/.htaccess
/.idea
/.vscode
/Backup
/TCPSocket.py
/TestGetSystem.py
/TestRelayController.py
/TestWatchDog.py
/__pycache__
/private.py
/testPrivate.py
/version_check.py
templates/settings_bak.html
sprinklerNVM_bak.pkl
test.py
